@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Rubik", sans-serif;
}

@font-face {
  font-family: "MiedingerW01";
  src: url("./Fonts/MiedingerW01-Bold.woff2") format("woff2"),
    url("./Fonts/MiedingerW01-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.navbar-brand {
  color: #dfdfdf !important;
  font-size: 30px !important;
  font-weight: 700 !important;
  font-family: "MiedingerW01";
}

.nav-link {
  color: #dfdfdf !important;
  font-family: "MiedingerW01";
  font-size: 12px !important;
}
.btn.btn-outline-shine {
  color: #dfdfdf;
  border: 1px solid;
  font-family: "MiedingerW01";
  font-size: 12px;
  border-radius: 2px;
}

.banner-box {
  background-color: #484b45;
}

.banner-image img {
  width: -webkit-fill-available;
  background: linear-gradient(black, black) padding-box,
    linear-gradient(to right, white, #363131) border-box;
  border-radius: 1em;
  border: 5px solid transparent;
  height: 65vh;
  object-fit: cover;
}

.banner-image p {
  font-size: 80px;
  background: -webkit-linear-gradient(#eee, #737373);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-family: "MiedingerW01";
}

.second-para p {
  font-size: 50px;
  background: -webkit-linear-gradient(#eee, #737373);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "MiedingerW01";
}

.box-text {
  color: #898d8e;
  font-size: 25px;
}

.w-full {
  width: -webkit-fill-available;
  object-fit: cover;
}

.h-50vh {
  height: 70vh;
}

.counter-section {
  /* color: white; */
  background: -webkit-linear-gradient(#eee, #737373);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.counter-section h1 {
  font-size: 80px;
  font-weight: bolder;
  font-family: "MiedingerW01";
}

.counter-section p {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

.second-para-1 p {
  background: -webkit-linear-gradient(#eee, #737373);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
  font-weight: 500;
  font-family: "MiedingerW01";
}

.para-box {
  background: -webkit-linear-gradient(#eee, #737373);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lettalk h1 {
  background: -webkit-linear-gradient(#eee, #737373);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 75px;
  font-family: "MiedingerW01";
  text-align: center;
}
.main {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* background-color: #000000cc; */
}

.banner-image {
  position: absolute;
  width: -webkit-fill-available;
  bottom: 0;
  text-align: center;
  z-index: 1;
}

.video-background nav {
  top: 10px;
  position: absolute;
  width: -webkit-fill-available;
  z-index: 1;
}

.btn-sine {
  background: -webkit-linear-gradient(#eee, #737373);
  border-radius: 2px;
  font-size: 18px !important;
  margin: 0px 10px;
  font-family: "MiedingerW01" !important;
  border: 0 !important;
}

.container1 {
  position: relative;
  width: -webkit-fill-available;
}

.image1 {
  display: block;
  height: 70vh;
  width: 100%;
  object-fit: cover;
}

.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.4);
}

.container1 .overlay1 {
  opacity: 1;
}

.container1:hover .overlay1 {
  visibility: hidden;
}

.text1 {
  font-size: 30px;
  background: -webkit-linear-gradient(#eee, #737373);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-family: "MiedingerW01";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.bg-dull {
  background-color: #484b45;
}

.font-xl {
  font-size: 20px;
  font-weight: 400;
}

.about-image img {
  width: -webkit-fill-available;
  height: 50vh;
  object-fit: cover;
}

.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.about-section h1 {
  font-size: 50px;
  background: -webkit-linear-gradient(#eee, #737373);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "MiedingerW01";
}

.about-section p {
  font-size: 24px;
  background: -webkit-linear-gradient(#eee, #737373);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product-details {
  padding: 15px;
  color: white;
}
.product-details p {
  color: #eee;
  font-size: 24px;
  font-weight: 700 !important;
}

.product-card img {
  width: -webkit-fill-available;
  object-fit: cover;
  height: 250px;
  border-radius: 10px 10px 0px 0px;
}
.product-card {
  border: 1px solid white;
  border-radius: 10px;
}

.value.h5 {
  margin-left: 25px;
  font-size: 12px;
}

.meta-middle-unit-top {
  display: flex;
  gap: 10px;
}

.meta-middle {
  display: flex;
  flex-wrap: wrap;
}

.meta-middle-unit {
  width: 33%;
}

.price-cars {
  color: #dfdfdf !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  font-family: "MiedingerW01";
}
.name {
  font-size: 14px;
}

.btn-sine-1 {
  background: -webkit-linear-gradient(#eee, #737373);
  border-radius: 2px;
  font-size: 14px !important;
  margin: 0px 10px;
  font-family: "MiedingerW01" !important;
  border: 0 !important;
}

.Head-colleaction {
  background: -webkit-linear-gradient(#eee, #737373);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-family: "MiedingerW01";
  text-align: center;
}

.carousel-inner img {
  width: 100%;
}
.carousel-item img {
  width: -webkit-fill-available;
  height: 570px !important;
  object-fit: cover;
}
#myCarousel .carousel-indicators {
  position: static;
  margin-top: 0px;
}

#myCarousel .carousel-indicators > li {
  width: 100px;
}

#myCarousel .carousel-indicators li img {
  display: block;
  height: 70px;
  object-fit: cover;
}

#myCarousel .carousel-indicators li.active img {
  opacity: 1;
}

#myCarousel .carousel-indicators li:hover img {
  opacity: 0.75;
}

.single-car-data {
  padding: 12px 26px 13px 23px;
  margin-bottom: 26px;
  background-color: #f0f2f5;
}
.single-car-data > table tr td.t-label {
  padding-right: 3px;
  text-transform: uppercase;
  color: #888;
  font-size: 12px;
}
.single-car-data > table tr td.t-value {
  padding-left: 3px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.single-car-data table tr td {
  border-bottom: 1px solid #d5d9e0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(213, 217, 224);
}

.single-car-data table {
  width: -webkit-fill-available;
}
.single-car-mpg {
  padding: 11px 15px;
  margin-bottom: 25px;
  border: 3px solid #e4e6ea;
  color: white;
}
.single-car-data > table tr td {
  padding: 11px 0 6px;
}

.stm-car_dealer-buttons a {
  position: relative;
  display: block;
  padding: 0 60px 0 25px;
  margin-bottom: 11px;
  height: 49px;
  line-height: 49px;
  background-color: #f0f2f5;
  color: #232628;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none !important;
}

.stm_social_buttons_wrap .whatsapp .whatsapp-btn {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 7px rgb(0 0 0 / 9%);
  border: 1px solid #e0e3e7;
  background-color: #ffffff;
  border-radius: 5px;
  color: #121e24;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  padding: 13px 17px;
}

.stm_social_buttons_wrap .whatsapp .whatsapp-btn .stm-icon-whatsapp {
  margin-right: 15px;
  font-size: 26px;
  color: #45c655;
}

.single-car-prices {
  background-color: #6c98e1;
}
.single-regular-sale-price {
  padding: 14px 25px 12px;
}
.single-regular-sale-price > table tr td:first-child {
  width: 50%;
  color: white;
  font-size: 14px;
  border-right: 1px solid #89ade7;
}

.single-regular-sale-price > table tr td:nth-child(2) .h4 {
  white-space: nowrap;
}

.single-regular-sale-price > table tr td:nth-child(2) .h4 {
  text-align: left;
}
.single-regular-sale-price > table tr td:nth-child(2) .h4 {
  margin: -5px 0 0;
  color: #fff;
  text-align: center;
}
.single-car-prices .h4 {
  font-size: 24px;
}
.regular-price-with-sale strong {
  display: block;
}

.single-regular-sale-price > table tr td:nth-child(2) {
  padding-left: 20px;
  color: white;
}
.stm-car_dealer-buttons a i {
  position: absolute;
  right: 20px;
  top: 17px;
  font-size: 16px;
  color: #6c98e1;
}

.description-section ul li .nav-link.active {
  color: #212529 !important;
}

.vehicleoverview {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.list-style-2 {
  list-style: none;
  padding-left: 0px;
}

.list-style-2 li {
  margin-bottom: 25px;
}

.list-style-2 li:before {
  content: "✓";
  padding: 7px 10px;
  background-color: #6c98e1;
  border-radius: 50px;
  margin-right: 10px;
}
.lists-inline {
  display: flex;
  justify-content: space-between;
}

table {
  width: -webkit-fill-available;
}

.product-card:hover {
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.06);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.06);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.06);
}

.section-services {
  font-family: "Poppins", sans-serif;
  background-color: #21252900;
  color: #202020;
  padding-top: 115px;
  padding-bottom: 120px;
}

.section-services .header-section {
  margin-bottom: 34px;
}

.section-services .header-section .title {
  position: relative;
  padding-bottom: 14px;
  margin-bottom: 25px;
  font-size: 50px;
  background: -webkit-linear-gradient(#eee, #737373);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: "MiedingerW01";
}

.section-services .header-section .title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: #ff4500;
  border-radius: 3px;
}

.section-services .header-section .title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(30px);
  width: 10px;
  height: 3px;
  background-color: #504f93;
  border-radius: 3px;
}

.section-services .header-section .description {
  font-size: 14px;
  color: #282828;
}

.section-services .single-service {
  position: relative;
  margin-top: 30px;
  background-image: linear-gradient(
    to right top,
    #3f3f3f,
    #565656,
    #6e6e6e,
    #868686,
    #a0a0a0,
    #b0b0b0,
    #c1c1c1,
    #d2d2d2,
    #dddddd,
    #e8e8e8,
    #f4f4f4,
    #ffffff
  );
  border-radius: 10px;
  padding: 40px 30px;
  overflow: hidden;
}

.section-services .single-service .content1 {
  position: relative;
  z-index: 20;
}

.section-services .single-service .circle-before {
  position: absolute;
  top: 0;
  right: 0px;
  transform: translate(40%, -40%);
  width: 150px;
  height: 150px;
  background-image: linear-gradient(
    to left bottom,
    #000000,
    #262626,
    #464646,
    #6a6a6a,
    #909090
  );
  border: 6px solid #504f93;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 10;
  transition: all 0.6s;
}

.section-services .single-service:hover .circle-before {
  width: 100%;
  height: 100%;
  transform: none;
  border: 0;
  border-radius: 0;
  opacity: 1;
}

.section-services .single-service .icon {
  display: inline-block;
  margin-bottom: 26px;
  width: 70px;
  height: 70px;
  background-image: linear-gradient(
    to left bottom,
    #000000,
    #262626,
    #464646,
    #6a6a6a,
    #909090
  );
  border-radius: 5px;
  line-height: 70px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  transition: all 0.3s;
}

.section-services .single-service:hover .icon {
  color: #262626;
  background-image: linear-gradient(
    to right top,
    #3f3f3f,
    #565656,
    #6e6e6e,
    #868686,
    #a0a0a0,
    #b0b0b0,
    #c1c1c1,
    #d2d2d2,
    #dddddd,
    #e8e8e8,
    #f4f4f4,
    #ffffff
  );
}

.section-services .single-service .title {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 23px;
  transition: color 0.3s;
}

.section-services .single-service:hover .title {
  color: #fff;
}

.section-services .single-service .description {
  margin-bottom: 20px;
  font-size: 14px;
  transition: color 0.3s;
}

.section-services .single-service:hover .description {
  color: #fff;
}

.section-services .single-service a {
  position: relative;
  font-size: 18px;
  color: #202020;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.section-services .single-service:hover a {
  color: #fff;
}

.section-services .single-service:hover a:after {
  background-color: #fff;
}

.list-style-3 li:before {
  content: "✓";
  border-radius: 50px;
  margin-right: 10px;
}

.list-style-3 {
  list-style: none;
  padding-left: 0px;
}

.form-control {
  display: block !important;
  width: 100% !important;
  height: 47px !important;
  line-height: 47px !important;
  padding: 0 21px !important;
  font-weight: 400 !important;
  color: #888 !important;
  border-radius: 0px!important;
  border: 2px solid #eceff3 !important;
  font-size: 14px !important;
  outline: none !important;
  background-color: #eceff3 !important;
}
